{% extends "base.html.twig" %}

{% block title %}Submit commands{% endblock %}

{% block body %}
<div class="container">
  <div class="card bg-info text-white text-center"><h1 >Validate Command</h1></div>
</div>
<div class="row my-3">

        <div class="col">
            <h1 class="text-left text-primary"><u><b>Total :</b></u> <span id="total"></span> &nbsp DH</h1>
        </div>
        <div class="col h-100 text-right">
            <a href="{{ path('submit_command') }}" class="btn btn-lg btn-success  text-mt-3"><i class="fa fa-check-circle"></i> Submit your command</a>
        </div>
    </div>
     <table id="myTable" class="table table-hover mt-5 text-center">
        <thead>
            <tr>
            <th scope="col">Product</th>
            <th scope="col">PU</th>
            <th scope="col">Qte</th>
            <th scope="col">PT</th>
            <th scope="col"> Action</th>
            </tr>
        </thead>
        <tbody>
    {% for command in commands %}
        <tr class="table">
            <th scope="row">{{command.produit.title}}</th>
            <td>{{command.produit.price | number_format(2)  }}</td>
            <td>{{ command.quantity }}</td>
            <td></td>
            <td>
{#                 <a class="btn btn-info text-white text-right" href="{{ path('command_lignes',{'id': command.id })}}"><i class="fas fa-eye"></i></a>
 #}                <button class="delete btn btn-danger text-white text-right" 
                            data="{{command.id}}" {# href="{{ path('command_encours',{'id': command.id })}}" #}>
                            <i class="fas fa-trash-alt"></i>
                    </button>
            </td>
            </tr>
    {% endfor %}   
        </tbody>
    </table>

    {# modal for confirm deleting #}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Command info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure that you want to delete this?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" id="confirmDeleting" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
<script>

        $(document).ready( function () {
            $('#myTable').DataTable({
                searching: false, 
                //paging: false, 
                info: false
                });

        function removeElement(id) {
            var elem = document.getElementById(id);
                return elem.parentNode.removeChild(elem);
                }

        //delete item from table
        $(".delete").click(function(){
            id = $(this).attr('data');
                console.log(id);
                $('#confirmDeleting').attr('href',"/encours/"+id);
                $('#exampleModalCenter').modal('show');
                              

        });
       });

        var table = document.getElementById('myTable'); 
        var total = 0;
        var rows = table.getElementsByTagName('tr');
        var i, j, cells, customerId;

            for (i = 0, j = rows.length; i < j; ++i) {
                cells = rows[i].getElementsByTagName('td');
                if (!cells.length) {
                    continue;
                }
                
                cells[2].innerHTML = cells[0].innerHTML * cells[1].innerHTML;
                total += (+cells[2].innerHTML);
            }

            document.getElementById('total').textContent = total; 

            
            
            
    </script>
{% endblock %}
