{% extends "base.html.twig" %}

{% block title %}My commands{% endblock %}

{% block body %}
    <div style ="height:15vh;width:1150px;border: 2px solid silver;" class="row align-items-center"> 

     <div class="col-4">
         <h1 class="text-danger">Réference   :<h1>
    </div>
    <div class="col-4 ">
        <h2>{{command.reference}}</h2>
    </div>
       <div class="col-4"> </div>
    </div>

     <table class="table table-hover mt-5">
        <thead>
            <tr>
            <th scope="col">ID PRODUCT</th>
            <th scope="col">PRODUCT TITLE</th>
            <th scope="col">PU</th>
            <th scope="col">Quantity</th>
            <th scope="col">PT</th>
            </tr>
        </thead>
        <tbody>
    {% for ligne in lignesCommand %}
            <tr class="table">
                <th scope="row">{{ligne.produit.id}}</th>
                <th scope="row">{{ligne.produit.title}}</th>
                <td>&euro;  {{ ligne.produit.price | number_format(2)  }}</td>
                <td>{{ ligne.quantity }}</td>
                <td>&euro;  {{ ligne.produit.price * ligne.quantity }}</td>
            </tr>
    {% endfor %}   
        </tbody>
    </table>
       <div class="text-left">
             <a  class="btn  btn-danger " href="{{ path('index_route') }}">
                <i class="fa fa-fast-backward"></i>
                 
            </a>
    </div>
{% endblock %}
