<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">
              <img  class="rounded-circle " src="/img/LOGO6.PNG" alt="logo" style="width:45px;">
           </a>
            <a class="navbar-brand" href="/"><b>Command Project</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
            </button>

         <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          {% if app.user and app.user.deletedAt == null %}
              {% if is_granted('ROLE_ADMIN') %}
                     <li class="nav-item">
                      <a class="nav-link" href="{{ path('new_produit')}}"><b>New product</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('all_clients')}}"><b>Our clients</b></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('all_commands')}}"><b>All commands</b></a>
                    </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href=" {{ path('client_page', {'id': app.user.id } ) }}"><b>My commands</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=" {{ path('user_profile',{"client": app.user.id}) }}"><b>Settings</b></a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('user_logout') }}">Log out</a>
                </li>
                <li class="mt-1 text-right nav-item">
                <img class="rounded-circle w-25" src="{{ app.user.urlAvatar}}"/>
              </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('user_login') }}">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('user_signin') }}">Sign in</a>
                </li>
          {% endif %}  
          
        </ul>
      </div>
    </div>
    
  </nav>
  
  {% include 'partials/flashs.html.twig' %}