<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestion Commandes{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="css/fontawesome.min.css" rel="stylesheet">
        <link rel='stylesheet' href="{{ asset('css/all.min.css') }}" />
        <link href="{{ asset('web/css/me.css') }}" rel="stylesheet">
        <link href="{{ asset('css/heroic-features.css') }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/379ed65348.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    </head>

    <body>
    
        {% include 'partials/header.user.html.twig' %}


        <div class="container">
                 {% block body %}{% endblock %}
          </div>
        {% block javascripts %}{% endblock %}
      
          
 
          {% include 'partials/footer.html.twig' %}
          
       
         <script src="{{asset('vendor/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

         <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

          
    </body>
</html>
