<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestion Commandes{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/heroic-features.css') }}" rel="stylesheet">
        <link href="{{ asset('css/all.css') }}" rel="stylesheet">
        <link rel='stylesheet' href="{{ asset('css/all.min.css') }}" />

        <script src="https://kit.fontawesome.com/379ed65348.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>

    <body>
        {% include 'partials/header.admin.html.twig' %}

       

        <div class="container">
        
        {% block body %}{% endblock %}
        
        </div>
        <div style="height: 100px; background-color: rgba(255,0,0,0.1);"></div>
 
           {% include 'partials/footer.html.twig' %}
          
        
        <script src="{{asset('vendor/jquery/jquery.min.js') }}"></script>
         
         <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

         {% block javascripts %}{% endblock %}
         
    </body>
</html>
