{% extends 'base.html.twig'%}

{% block title %} All commands {% endblock %}




{% block body %}
    <div class="container spacer  ">
		<div class="card bg-info text-white text-center"><h1>All Commands</h1></div><br><br>

    <table id="tableCommands" class="table table-hover mt-5 text-center">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Ref</th>
            <th scope="col">Date</th>
            <th scope="col">Client  email</th>
            <th scope="col">Client  image</th>
            <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
    {% for command in commands %}
        <tr class="table">
            <th scope="row">{{command.id}}</th>
            <th scope="row">{{command.reference}}</th>
            <th scope="row">{{command.dateCommande | date('Y-m-d') }}</th>
            <th scope="row">{{command.client.email}}</th>
            <td><img class="w-25 rounded-circle" src="{{ command.client.urlAvatar }}"/></td>
            <td scope="row"><strong>{{command.totalPrice | number_format(2) }}</strong>&euro; </td>
        </tr>
    {% endfor %}   
        </tbody>
    </table>  


{% endblock %}

{% block javascripts %}
            <script>
                    $(document).ready( function () {
                        $('#tableCommands').DataTable({
                            searching: true, 
                            paging: true, 
                            info: true
                            });
                    });

            </script>

{% endblock %}